@charset "UTF-8";

.bg{
    background: url("../img/birthday/birthday-bg.jpg") no-repeat 50%;
    background-size: cover;
    margin: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .text-box{
        position: absolute;
        top: 48%;
        margin: -115px auto 0 auto;
        width: 100%;
        text-align: center;

        color: #4e4c4d;
        font-size: 24px;
        line-height: 36px;
        -webkit-font-smoothing: antialiased;
        font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;

        p{
            margin: 0;
        }

        .name{
            color: #ff853c;
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 10px;
        }

        .date{
            color: #ff853c;
            font-size: 20px;
            margin-bottom: 10px;
            display: inline-block;
        }

        img{
            border-radius: 50%;
            height: 60px;
            width: 60px;
            margin: 10px auto 0 auto;
            display: block;
        }
    }
}